# Database
DATABASE_URL="postgresql://neondb_owner:npg_et8Lwv0hlOfx@ep-square-tree-ajya6mp2-pooler.c-3.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Auth
JWT_SECRET="32-character-min-secure-jwt-secret-key" 